<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>INVERMEX</title>
		<LINK href="assets/css/main.css" rel="stylesheet" type="text/css">
		<LINK href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="assets/js/main.js"></script>
		<LINK href="assets/js/bootstrap.js" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
	</head>
	<body>
		<div class="logo">
			<div class="form-header">
				<img src="assets/img/Logo.png">
				<span class="title">INVERMEX</span>
			</div>
		</div>

		<h1 class="subtitle-style">Menú Principal</h1>

		<div>
			<h2>Elige una de las opciones a continuación:</h2>
		</div>
			<ol>
				<a href="#"><li>Captura de un nuevo cliente</li></a>
				<a href="#"><li>Baja de un cliente</li></a>
				<a href="#"><li>Modificar datos del cliente</li></a>
				<a href="#"><li>Mostrar clientes</li></a>
			</ol>

		<footer class="footer">
		footer
		</footer>
	</body>
</html>
